{"installed":
    {"client_id":"YOUR GOOGLE DEV CLIENT ID",
    "project_id":"GOOGLE DEV PROJECT ID",
    "auth_uri":"https://accounts.google.com/o/oauth2/auth",
    "token_uri":"https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs",
    "client_secret":"OAUTH2 CLIENT SECRET",
    "redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]},
 "userconfig":
    {"uid":"SPOTIFY UID"}
}
